<div class="w-100">
    <nav class="flex nav">
<a href="#home" class="logo">
  C.G. Développement Web
</a>
<ul class="nav-links flex row">
  <li *ngIf="!currentUser"><a routerLink="/login">Login</a></li>
  <li *ngIf="currentUser" class="pointer" (click)="logout()">Se déconnecter</li>
  <li *ngIf="currentUser && currentUser.admin === true"><a routerLink="/admin">Admin</a></li>
  <li><a routerLink="/blog">Blog</a></li>
  <li class="pointer" (click)="mailTo()"><i class="fa-solid fa-envelope"></i></li>
  <li><a href="https://www.linkedin.com/in/celine-galy-4a91001b7/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
  <li class="pointer"><a href="https://github.com/Celine-Galy" target="_blank"><i class="fa-brands fa-github"></i></a></li>
  
  <li><i class="fa-brands fa-youtube"></i></li>
</ul>
    </nav>
</div>