
<app-menu
class="min-w-20"></app-menu>

<div class="container w-100">
  <div class="card">
  <h1 class="ml-2">Développement web et autres facéties</h1>
  <p class="ml-2">Retrouvez ici tous les articles de la catégorie "Développement Web"</p>
</div>
  <div class="flex column">
      <div *ngFor="let article of articleList" class="card p-1">
       <div>
        <img class="card-image" src="http://localhost:3000/articles/uploads/{{ article.image }}" width="300"/>
</div>
           <div class="card-content ml-2">
                      <h2 class="card-title">{{article.title}}</h2>
                      <p class="card-subtitle">Publié le: {{article.date | date: 'dd/MM/yyyy'}}</p>
          <p [innerHTML]="article.content"></p>
          <div class="card-action">
      <a [routerLink]="['/article', article.id]">Read more</a>
       </div>
      
        </div>
  </div>
</div>

</div>
